#mainpage {
    width: 100%;
    height: 100vh;
    display:block;
    background-color: pink;
}

#playWindow {
    width: calc(100% - 300px);
    height: calc(100% - 200px);
    display: block;
    background-color: green;
}

#thumbnails {
    height: 200px;
    width: 100%;
    display: block;
    background-color: red;
}