#mainpage {
    width: calc(100% - 308px);
    height: 100vh;
    display:block;
    background-color: white;
    left: 0px;
    position: absolute;
    text-align: center;
}

#playWindow {
    width: calc(100%);
    height: calc(100% - 200px);
    display: block;
    border-style: solid;
    border-width: 2px;
    border-color: #38405F;
    margin: 4px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

#playWindow img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

#thumbnails {
    height: 188px;
    width: 100%;
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: #38405F;
    margin: 4px;
    border-radius: 4px;
}

.mp3Tile {
    height: 176px;
    width: 180px;
    display: inline-block;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    margin-top: 4px;
    margin-left: 12px;
    position: relative;
}

.mp3Tile img {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    filter: invert(27%) sepia(16%) saturate(1042%) hue-rotate(191deg) brightness(92%) contrast(92%);
}

.mp3Tile p {
    font-weight: bold;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.photoTile {
    height: 176px;
    width: 180px;
    display: inline-block;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    margin-top: 4px;
    margin-left: 12px;
    position: relative;
}

.photoTile img {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    filter: invert(27%) sepia(16%) saturate(1042%) hue-rotate(191deg) brightness(92%) contrast(92%);
}

.photoTile p {
    font-weight: bold;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.textTile {
    height: 176px;
    width: 180px;
    display: inline-block;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    margin-top: 4px;
    margin-left: 12px;
    position: relative;
}

.textTile img {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    filter: invert(27%) sepia(16%) saturate(1042%) hue-rotate(191deg) brightness(92%) contrast(92%);
}

.textTile p {
    font-weight: bold;
    position: absolute;
    top: 80%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}