.sidebar {
    display: inline-block;
    background: #38405F;
    width: 300px;
    padding-top: 20px;
    color: #F7F7F7;
    position: fixed;
    height: 100%;
    right: 0px;
    text-align: center;
}

.sidebar > a:hover {
    color: white;
    text-decoration: underline;
}

.sidebar > a  {
    color: white;
    text-decoration: none;
    margin-top: 100px;
    /* position: fixed; */
}

h4 {
    font-size: larger;
}

hr {
    width: 80%;
    margin-left: 10%;
    color: white;
}

.sidebar-item {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10%;
}
